body {
  margin: 0;
  overflow-x: hidden;
}

.section1 {
  padding-left: 20px;
}

.img-avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

h3 {
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  font-family: Poppins;
  font-size: 40px;
  text-transform: capitalize;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  background-color: #183153;
}

a {
  gap: 1rem;
}

.heading {
  background: linear-gradient(90deg, #00dbde, #fc00ff);
  font-family: Poppins;
  font-size: 40px;
  text-transform: capitalize;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  padding: 15px;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

.headingText {
  color: #FFD700;
}

.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 10px 15px;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
  background-color: #007bff;
  color: white;
}

.pagination .active a {
  background-color: #007bff;
  color: white;
}

.pagination .disabled a {
  color: #ddd;
  pointer-events: none;
}

.pagination .break a {
  color: #007bff;
  border: none;
}

.categories {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .section1 {
    padding-left: 0;
  }
   body{
    overflow-x: hidden;
   }
  .categories {
    display: block;
    margin-top: 10px;
    text-align: center;
  }

  .img-avatar {
    justify-content: center;
    margin: 0 auto;
  }
}
